mixin footer(opts)
    footer
        #footer-svg-wrap
            include ../assets/footersvg.svg
        .container
            #footer-cta
                hgroup
                    h2 Reach Out
                    p We're here to answer your questions.
                .btn-group
                    a(href="mailto:inquiries@solace.io") 
                        button.secondary.iconed-rt
                            div
                                span inquiries@solace.io
                                .icon-mail5
                    button.secondary.iconed-rt(data-modal-button="#typeform")
                        div
                            span Join our Newsletter
                            .icon-mail3
            
