@keyframes scaleUp {
    0% {
        opacity: 1;
    background: #a1f7f0;
    transform: scale(0);
    }
    70% {
        opacity: .8;
    }
    100% {
    opacity: .1;
    transform: scale(1.4);
    }
}
@keyframes rotate {
    70% {
        -webkit-transform: rotateX(55deg) rotateZ(405deg);
        -ms-transform: rotateX(55deg) rotateZ(405deg);
        transform: rotateX(55deg) rotateZ(405deg);
    }
    100% {
        webkit-transform: rotateX(55deg) rotateZ(405deg);
        -ms-transform: rotateX(55deg) rotateZ(405deg);
        transform: rotateX(55deg) rotateZ(405deg);
    }
}
@include keyframes(someKeyframe) {
    0% { 
        transform: scale(1);
        opacity: 0
    } 
    25% {
        transform: scale(1);
        opacity: .75
    }
    100% {   
        transform: scale(2.75);
        opacity: 0
    } 
}

@include keyframes(float) {
    0% {
        transform: translateY(0px); 
    }
    50% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}
@include keyframes(slideDown) {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@include keyframes(hover) {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translateY(50px);
    }
}
@include keyframes(drop) {
    0% {
        transform: translateY(-5px); 
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-3px);
        opacity: 0;
    }
}
@include keyframes(rise) {
    0% {
        transform: translateY(0px);
        opacity:.8; 
    }
    50% {
        transform: translateY(-25px);
        opacity:.4;
        
    }
    100% {
        transform: translateY(-50px);
        opacity:0;
    }
}

@include keyframes(blobfloat1) {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg) translateY(-250px);
        
    }
    100% {
        transform: rotate(0deg);
    }
}
@include keyframes(blobfloat2) {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateY(-100px);
        
    }
    100% {
        transform: rotate(0deg);
    }
}
@include keyframes(blobfloat3) {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        
    }
    100% {
        transform: rotate(0deg);
    }
}
@include keyframes(blobfloater5) {
    0% {
        opacity: 1;
        transform: rotate(-20deg) translate3d(100px, 150px, 0px);
    }
    50% {
        opacity: 1;
        transform: rotate(0deg) translate3d(0px, 0px, 0px);
    }
    100% {
        opacity: 1;
        transform: rotate(-20deg) translate3d(100px, 150px, 0px);
    }
}
@include keyframes(blobfloater4) {
    0% {
        opacity: 1;
        transform: rotate(0deg) translate3d(0px, 0px, 0px);
    }
    50% {
        opacity: 1;
        transform: rotate(20deg) translate3d(100px, 150px, 0px);
        
    }
    100% {
        opacity: 1;
        transform: rotate(0deg) translate3d(0px, 0px, 0px);
    }
}
@include keyframes(blobfloat5) {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg) translateY(-50px);
        
    }
    100% {
        transform: rotate(0deg);
    }
}
@include keyframes(blobfloat6) {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg) translateY(-25px);
        
    }
    100% {
        transform: rotate(0deg);
    }
}
@include keyframes(blobfloat7) {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg) translateY(0px);
        
    }
    100% {
        transform: rotate(0deg);
    }
}

@include keyframes(waver) {
    0% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(20deg);
    }
  }

