$color-main: #1a1760;
$color-1: #1346F3;
$color-2: #1346F3;
$color-3: #1346F3;
$color-contrast: white;
$color-btn: transparent;
$color-p: #7b00ff;
$color-r: #FFF8DC;
$color-text:#E95355; 

$bg: #F2F2F2;
$button-bg: linear-gradient(-130deg, rgba(251,176,59,.5), rgba(245,60,239,.5), rgba(19,70,243,.5)), 
linear-gradient(#F53CEF, #F53CEF);
$misc-bg: rgba(103,58,183,.4);

$subtle: #583b67;


$font-heading: 'proxima_nova_altbold', sans-serif;
// $font-body: 'juni a', 'juni b', sans-serif;
$font-body: 'Montserrat', sans-serif;

$color-font: #8292a2;
$color-font-heading: #003957;   
$border-radius: 10px; 
$border-radius-btn: 30px;

$shadow: 0px 50px 120px -10px '#15052682';   